.search-input{

    display:flex;

    align-items:center;

    gap:10px;

    padding:0 15px;

    width:320px;

    height:46px;

    background:#ffffff;

    border:1px solid #e5e7eb;

    border-radius:12px;

}

.search-icon{

    color:#6b7280;

    font-size:18px;

}

.search-input input{

    width:100%;

    border:none;

    outline:none;

    font-size:14px;

    background:transparent;

}

.search-input input::placeholder{

    color:#9ca3af;

}