/*==========================================
Layout
==========================================*/

.layout{

    display:flex;

    min-height:100vh;

    background:#f8fafc;

}

/*==========================================
Main Content
==========================================*/

.main-content{

    flex:1;

    margin-left:280px;

    min-width:0;

    transition:.35s ease;

}

/*==========================================
Page Content
==========================================*/

.page-content{

    padding:28px;

}

/*==========================================
Tablet
==========================================*/

@media(max-width:992px){

    .main-content{

        margin-left:0;

        width:100%;

    }

}

/*==========================================
Mobile
==========================================*/

@media(max-width:576px){

    .page-content{

        padding:18px;

    }

}